/* EXERCISE DEFAULT STYLES */
:root {
  --lightblue: #e5ebf9;
  --darkblue: #2b1b78;
  --border-color: #564fbf;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* EXERCISE DEFAULT STYLES END */

/* ————————————————————————————————————————————— */

/* YOUR STYLES */
