/* |||| DEMO STYLES |||| */
html {
  block-size: 100%;
}

body {
  margin: 0;
  min-block-size: 100%;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.75em;
}
img {
  max-inline-size: 100%; /* images has a maximum width of 100% */
}
/* |||| DEMO STYLES END |||| */

/* ————————————————————————————————————————————— */

/* |||| CARD STYLES |||| */
.card {
  background: #1271b9;
  color: #fff;
  max-inline-size: 65rem; /* card has a maximum width of 65rem */
  max-block-size: 400px; /* card has a maximum height of 400px */
}

.card-content {
  padding: 2rem; /* card has padding of 2rem */
}
