/* EXERCISE DEFAULT STYLES */
:root {
  --card-background-color: #e1e8e8;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* EXERCISE DEFAULT STYLES END */

/* ————————————————————————————————————————————— */

/* YOUR STYLES */
